button.Pg_In {
     width: 300px;
     height: 60px;
     font-family: Arial;
     color: white;
     text-align: center;  
     border: 0px;
     background-color:blue;
     font-size: 250%;
	 margin-top: 20px;
}

button.Pg_Lo {
	width: 100%;
	height: 60px;
	font-family: Arial;
	color: white;
	text-align: center;
	border: 0px;
	padding: 5px;
	background-color: blue;
	font-size: 200%;
	margin: 10px;
}

form.Estilo {
	font-family: Arial;	
}

.Teste {
	margin: 10px;
}

Inputs {
	margin: 10px;
}

body {  
	background-color: powderblue;
}

h1 { 
	font-family: Arial;
	text-align: center;
	color: white;  
	border: 10px solid blue;
	background-color:blue; 
}

h2{
	font-family: Arial;
	text-align: left; 
	margin-right: 700px;
	border: 10px solid blue;
	background-color:blue;
	font-size: 190%;
}

h3{
	font-family: Arial;
	color: white;
	text-align: center; 
	margin-right:500px; 
	margin-left:500px;
	border: 10px solid blue;
	background-color:blue;
	font-size: 190%;
}

h4 { 
	font-family: Arial;
	color: white;
	text-align: center; 
	border: 10px solid blue;
	background-color:blue;
	font-size: 190%;
}

p {  
	font-family: Arial;
	color: white;
	font-size:190%;    
}

img.displayed{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.alternada {
	list-style: upper-alpha;
	font-size: 30px;
	color: blueviolet;
	width: fit-content;
}

/* nth-child = seleciona os filhos */
/* odd = impar, even = par */
.alternada li:nth-child(odd) {
	background-color: blue;
}

.alternada li:nth-child(even) {
	background-color: chocolate;
}

.alternada li:hover {
	font-weight: bolder;
}